[submodule ".registry"]
	path = .registry
	url = https://github.com/e-kotov/universe
	shallow = true
	branch = HEAD
[submodule "wikimapR"]
	path = wikimapR
	url = https://github.com/e-kotov/wikimapR
	shallow = true
	registered = true
