[submodule ".registry"]
	path = .registry
	url = https://github.com/e-kotov/e-kotov.r-universe.dev
	branch = HEAD
[submodule "alboFr"]
	path = alboFr
	url = https://github.com/e-kotov/alboFr
[submodule "mapineqr"]
	path = mapineqr
	url = https://github.com/e-kotov/mapineqr
[submodule "rJavaEnv"]
	path = rJavaEnv
	url = https://github.com/e-kotov/rJavaEnv
[submodule "rang"]
	path = rang
	url = https://github.com/gesistsa/rang
[submodule "rdocdump"]
	path = rdocdump
	url = https://github.com/e-kotov/rdocdump
[submodule "wikimapR"]
	path = wikimapR
	url = https://github.com/e-kotov/wikimapR
