[submodule ".registry"]
	path = .registry
	url = https://github.com/e-kotov/e-kotov.r-universe.dev
	branch = HEAD
[submodule "alboFr"]
	path = alboFr
	url = https://github.com/e-kotov/alboFr
[submodule "duckspatial"]
	path = duckspatial
	url = https://github.com/Cidree/duckspatial
[submodule "gridmaker"]
	path = gridmaker
	url = https://github.com/e-kotov/gridmaker
[submodule "mapineqr"]
	path = mapineqr
	url = https://github.com/e-kotov/mapineqr
[submodule "osrm.backend"]
	path = osrm.backend
	url = https://github.com/e-kotov/osrm.backend
[submodule "r5rgui"]
	path = r5rgui
	url = https://github.com/e-kotov/r5rgui
[submodule "rJavaEnv"]
	path = rJavaEnv
	url = https://github.com/e-kotov/rJavaEnv
[submodule "rang"]
	path = rang
	url = https://github.com/gesistsa/rang
[submodule "rdocdump"]
	path = rdocdump
	url = https://github.com/e-kotov/rdocdump
[submodule "tphconv"]
	path = tphconv
	url = https://github.com/e-kotov/tphconv
[submodule "wikimapR"]
	path = wikimapR
	url = https://github.com/e-kotov/wikimapR
